body {
    background-color: #f8f8fa;
}

.sidenav h2 {
    font-size: 16px;
    margin-top: .5rem;
    margin-left: 5px;
}

.sidenav a {
    color: #000;
    text-decoration: none;
    margin-bottom: 1rem;
    margin-top: 5rem;
    /* padding: .8rem; */
}

.sidenav a img {
    margin-right: 1rem;
    margin-left: 1rem;
}

.sidenav h1 {
    font-size: 12px;
    color: #9B9B9B;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.side-nav-img.active {
    color: #A20A0A;
    border-left: 4px solid #A20A0A;
}

.side-nav-img.active h2 {
    font-weight: bold;
}


/* start nav */

nav {
    background-color: #fff;
    /* box-shadow: #00000029 0px 0px 5px; */
    /* position: fixed; */
    /* width: 102%; */
    /* margin-right: 1%; */
    /* width: calc(100vw - 242px); */
    z-index: 10;
    padding: .4rem;
}

.div {
    justify-content: space-between;
}

nav h1 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 2;
    margin-top: .5rem;
    margin-left: 1rem;
}

nav img {
    width: 42px;
    height: 42px;
    margin-right: 1rem;
    margin-top: .1rem;
}

nav .cctv {
  height: 24px;
  width: 24px;
  margin: 0;
  margin-top: .7rem;
  margin-right: 1rem;
}

nav i {
    line-height: 3 !important;
    margin-left: 1rem;
    color: #191919;
}

/* end nav */



.closs {
    background-color: #FFF;
    padding: 1rem;
    box-shadow: 0px 3px 6px #0000000A;
    border-radius: 3px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-top: 2rem;
}

.closs h1 {
    font-size: 14px;
    font-weight: bold;
}

.closs p {
    font-size: 12px;
}

.white .white-img img {
    width: 45px;
}

.black {
    background-color: #000;
    padding: .7rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.black h1 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.white h1 {
    font-size: 12px;
    color: #707070;
    font-weight: normal;
}

.white-a {
    border: 1px solid #000;
    padding: .8rem;
    color: #000;
    text-decoration:none;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    border-radius: 3px;
    position: relative;
    top: 1.4rem;
    margin-left: 1.2rem;
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: auto;
}

#search {
    margin-bottom: 2rem !important;
}

.white-a:hover {
    color: #000;
    text-decoration:none;
} 

.black-a:hover {
    color: #FFF;
    text-decoration:none;
} 

.black-a {
    border: 1px solid #000;
    margin-left: auto;
    /* border: 1px solid #FFF; */
    border-radius: 3px;
    width: 70%;
    padding: .8rem;
    background-color: #000;
    display: flex;
    justify-content: center;
    color: #FFF;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    position: relative;
    top: 1.4rem;
}


.white img {
    width: 14px;
    margin-right: 1rem;
}

.white {
    padding: .7rem;
    padding-top: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination a {
  color: #858585;
  text-align: center;
  padding: 4px 10px;
  font-size: 14px;
  text-decoration: none;
}

.pagination a.active {
    color: #A20A0A;
    font-weight: bold;
}

.pagination a i {
    background-color: #CECECE;
    border-radius: 5px;
    padding: .3rem;
}

.pagination a i:hover {
    background-color: #000;
    color: #FFF;
}


.modal-dialog {
    margin-left: 25vw;
    margin-top: 10rem;
}


.modal input {
    padding: 1rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    width: 100% !important;
    /* margin-bottom: 1.7rem !important; */
    border: 1px solid #C8C8C8 !important; 
}


.color-a {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.color-a a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: .7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.color-a .add-a {
    color: #FFF;
    background-color: #000;
    margin-right: 1rem;
    margin-top: 2rem;
}


.modal .modal-header {
    border-bottom: none;
}

.modal .modal-header h1 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.model-width {
    width: 730px;
}



#search {
    border-bottom: 0px !important;
    box-shadow: 0px 3px 6px #0000000A !important;
    border-radius: 3px !important;
}
